In [1]:
%pip install opendatasets

Collecting opendatasets
  Using cached opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in c:\users\fahri\anaconda3\lib\site-packages (from opendatasets) (4.66.4)
Collecting kaggle (from opendatasets)
  Using cached kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: click in c:\users\fahri\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\fahri\appdata\roaming\python\python312\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: bleach in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.6.2)
Requirement already satisfied: charset-normalizer in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.7)
Requirement already satisfied: protobuf in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\fahri\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.2)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (69.5.1)
Requirement already satisfied: six>=1.10 in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.2.2)
Requirement already satisfied: webencodings in c:\users\fahri\anaconda3\lib\site-packages (from kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in c:\users\fahri\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.2)
Using cached opendatasets-0.1.22-py3-none-any.whl (15 kB)
Using cached kaggle-1.7.4.5-py3-none-any.whl (181 kB)
Installing collected packages: kaggle, opendatasets
Successfully installed kaggle-1.7.4.5 opendatasets-0.1.22
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
# reading 1 csv file from websites
import opendatasets as od

In [3]:
import opendatasets as od
od.download('https://www.kaggle.com/datasets/ardisragen/indonesia-coronavirus-cases?select=jabar.csv')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  kiiel21

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/ardisragen/indonesia-coronavirus-cases
Downloading indonesia-coronavirus-cases.zip to .\indonesia-coronavirus-cases

100%|██████████| 9.51k/9.51k [00:00<00:00, 6.44MB/s]

In [6]:
import os
os.listdir()

['.ipynb_checkpoints',
 'Basic Attributes, Methods dan Functions.ipynb',
 'Citywide_Payroll_Data__Fiscal_Year_.csv',
 'Coba.ipynb',
 'Index, Rename kolom dan index.ipynb',
 'indonesia-coronavirus-cases',
 'Memilih kolom pada Dataframe.ipynb',
 'Operations di Dataframe, value count & sort Dataframe.ipynb',
 'Pandas_tutor.ipynb',
 'Project 1 web scrap pandas.ipynb',
 'Tambah kolom baru di dataframe.ipynb']

In [8]:
import pandas as pd
df1 = pd.read_csv('indonesia-coronavirus-cases/jabar.csv')
df1

,date,positive_total,positive_daily,odp_process,odp_end,odp_total,odp_daily,pdp_process,pdp_end,pdp_total,...,total_positive_kabgarut,total_positive_kabindramayu,total_positive_kabkarawang,total_positive_kabmajalengka,total_positive_kabpangandaran,total_positive_kabsubang,total_positive_kabtasikmalaya,total_positive_kotabanjar,total_positive_kotacirebon,total_positive_kotasukabumi
0,01-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,02-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,05-Mar-20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,06-Mar-20,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,07-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
7,08-Mar-20,3,0,0,0,429,0,0,0,48,...,0,0,0,0,0,0,0,0,0,0
8,09-Mar-20,3,0,0,0,533,0,0,0,49,...,0,0,0,0,0,0,0,0,0,0
9,10-Mar-20,3,0,0,0,592,59,0,0,53,...,0,0,0,0,0,0,0,0,0,0
10,11-Mar-20,3,0,0,0,639,47,0,0,59,...,0,0,0,0,0,0,0,0,0,0
11,12-Mar-20,3,0,0,0,653,14,0,0,63,...,0,0,0,0,0,0,0,0,0,0
12,13-Mar-20,3,0,0,0,706,53,0,0,65,...,0,0,0,0,0,0,0,0,0,0
13,14-Mar-20,3,0,0,0,706,0,0,0,82,...,0,0,0,0,0,0,0,0,0,0
14,15-Mar-20,10,7,0,0,785,79,0,0,83,...,0,0,0,0,0,0,0,0,0,0
15,16-Mar-20,10,0,0,0,881,96,0,0,89,...,0,0,0,0,0,0,0,0,0,0
16,17-Mar-20,10,0,0,0,1004,123,0,0,101,...,0,0,0,0,0,0,0,0,0,0
17,18-Mar-20,22,12,0,0,1165,161,0,0,126,...,0,0,0,0,0,0,0,0,0,0
18,19-Mar-20,26,4,0,0,1412,247,0,0,132,...,0,0,0,0,0,0,0,0,0,0
19,20-Mar-20,41,15,0,0,1506,94,0,0,136,...,0,0,0,0,0,0,0,0,0,0
20,21-Mar-20,55,14,0,0,1774,268,0,0,157,...,0,0,0,0,0,0,0,0,0,0
21,22-Mar-20,59,4,0,0,1822,48,0,0,166,...,0,0,0,0,0,0,0,0,0,0
22,23-Mar-20,59,0,0,0,2519,697,0,0,385,...,0,0,0,0,0,0,0,0,0,0
23,24-Mar-20,60,1,0,0,2771,252,0,0,466,...,0,0,0,0,0,0,0,0,0,0
24,25-Mar-20,73,13,0,0,3669,898,0,0,572,...,0,0,0,0,0,0,0,0,0,0
25,26-Mar-20,78,5,0,0,3703,34,0,0,578,...,0,0,0,0,0,0,0,0,0,0
26,27-Mar-20,98,20,3575,1399,4974,1271,524,134,658,...,0,0,0,0,0,0,0,0,0,0
27,28-Mar-20,98,0,3575,1399,4974,0,524,134,658,...,0,0,0,0,0,0,0,0,0,0
28,29-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,0,0,0,0,0,0,0,0
29,30-Mar-20,149,30,5293,1988,7281,1862,660,190,850,...,0,0,1,0,0,0,0,0,0,0
30,31-Mar-20,180,31,8467,2562,11038,3757,696,202,898,...,0,0,6,1,0,0,0,0,0,0
31,1-Apr-20,220,22,8467,2562,14291,1774,747,256,898,...,0,0,8,1,0,0,0,0,0,0
32,2-Apr-20,220,22,11245,3046,14291,1416,747,256,1003,...,0,0,8,1,0,0,0,0,0,0
33,3-Apr-20,225,5,11245,3046,16932,685,747,256,1205,...,0,0,8,1,0,0,0,0,0,0
34,4-Apr-20,247,22,11245,3046,20712,4320,747,256,1354,...,0,0,8,1,0,0,0,0,0,0
35,5-Apr-20,252,5,16916,5075,21991,1279,998,453,1451,...,0,0,8,1,0,0,0,0,0,0
36,6-Apr-20,263,11,16916,5075,21991,668,990,453,1451,...,0,0,8,1,0,0,2,1,1,0
37,7-Apr-20,343,80,16916,5075,21991,2365,990,453,1451,...,2,1,8,1,0,1,2,1,1,1
38,8-Apr-20,366,23,17231,8363,25594,570,1279,637,1916,...,2,1,8,1,0,1,2,1,1,1

# 2 Read csv from multiple URLs
- https://football-data.co.uk/mmz4281/2526/E2.csv
- https://football-data.co.uk/mmz4281/2526/E3.csv

In [10]:
# read csv from multiple url (beda contoh file)
"https://football-data.co.uk/mmz4281/"+"2526"+"/"+"E2"+".csv"

'https://football-data.co.uk/mmz4281/2526/E0.csv'

In [11]:
# buat variabel
root = "https://football-data.co.uk/mmz4281/"

In [13]:
# buat list league (jika ingin menampilkan beberapa leagues)
leagues = ['E2', 'E3']
frames = []
for league in leagues:
    df = pd.read_csv( root + '2526' + '/' + 'E2.csv', encoding='unicode_escape')
    frames.append(df)

In [14]:
len(frames)

2

In [15]:
frames[0]

,ï»¿Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E2,01/08/2025,20:00,Luton,AFC Wimbledon,1,0,H,0,0,...,1.93,1.93,1.93,1.95,1.98,1.95,1.91,1.84,1.94,2.01
1,E2,02/08/2025,12:30,Cardiff,Peterboro,2,1,H,0,1,...,1.85,2.00,1.87,2.03,1.90,2.03,1.85,1.89,1.93,2.04
2,E2,02/08/2025,15:00,Blackpool,Stevenage,2,3,A,1,2,...,1.93,1.93,1.94,1.94,1.94,1.94,1.85,1.88,1.94,2.04
3,E2,02/08/2025,15:00,Bradford,Wycombe,2,1,H,2,0,...,1.73,2.08,1.90,1.99,1.90,2.20,1.74,2.02,1.80,2.22
4,E2,02/08/2025,15:00,Burton,Mansfield,2,1,H,1,0,...,2.00,1.85,1.69,2.26,2.00,2.26,1.91,1.83,2.04,1.93
5,E2,02/08/2025,15:00,Doncaster,Exeter,1,0,H,0,0,...,2.03,1.83,2.08,1.83,2.08,1.88,1.93,1.82,1.98,1.97
6,E2,02/08/2025,15:00,Huddersfield,Leyton Orient,3,0,H,1,0,...,1.83,2.03,1.96,1.93,1.96,2.03,1.76,1.96,1.86,2.15
7,E2,02/08/2025,15:00,Lincoln,Reading,2,0,H,1,0,...,2.00,1.85,2.03,1.87,2.03,1.87,1.95,1.81,2.04,1.95
8,E2,02/08/2025,15:00,Plymouth,Barnsley,1,3,A,0,2,...,2.10,1.70,1.89,1.99,2.10,1.99,2.02,1.75,2.25,1.79
9,E2,02/08/2025,15:00,Rotherham,Port Vale,2,1,H,2,0,...,2.03,1.83,2.00,1.89,2.03,1.89,1.94,1.82,2.04,1.93
10,E2,02/08/2025,15:00,Wigan,Northampton,3,1,H,2,0,...,1.90,1.95,2.05,1.85,2.05,1.95,1.94,1.82,1.99,1.98
11,E2,03/08/2025,12:00,Stockport,Bolton,2,0,H,1,0,...,2.20,1.65,1.79,2.11,2.20,2.11,2.03,1.74,2.21,1.82

## 2.2 Multiple Seasons

In [23]:
for season in range(20, 25):
    print(str(season) + str(season+1))

2021
2122
2223
2324
2425

In [26]:
leagues = ['E2', 'E3']
frames = []
for league in leagues:
    for season in range(20, 25):
        df = pd.read_csv( root + str(season) + str(season+1) + '/'+ league)
        df.insert(1, 'season', season)
        frames.append(df)

In [27]:
len(frames)

10

In [30]:
frames[2]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E2,22,30/07/2022,15:00,Accrington,Charlton,2,2,D,0,...,1.92,0.00,2.05,1.75,2.08,1.83,2.16,1.83,2.06,1.77
1,E2,22,30/07/2022,15:00,Bristol Rvs,Forest Green,1,2,A,0,...,1.75,-0.25,2.10,1.77,2.09,1.82,2.13,1.82,2.07,1.76
2,E2,22,30/07/2022,15:00,Cambridge,Milton Keynes Dons,1,0,H,1,...,1.61,0.25,1.70,2.10,1.76,2.14,1.86,2.14,1.78,2.05
3,E2,22,30/07/2022,15:00,Cheltenham,Peterboro,2,3,A,2,...,2.04,0.25,1.93,1.93,1.98,1.90,1.98,1.99,1.89,1.92
4,E2,22,30/07/2022,15:00,Derby,Oxford,1,0,H,0,...,1.81,-0.25,1.75,2.05,1.79,2.10,1.86,2.14,1.79,2.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,22,07/05/2023,12:00,Lincoln,Shrewsbury,1,0,H,0,...,1.81,-0.50,1.95,1.90,1.98,1.87,2.00,1.94,1.95,1.84
548,E2,22,07/05/2023,12:00,Oxford,Accrington,1,2,A,1,...,2.11,-1.25,1.90,1.95,1.94,1.90,1.96,2.02,1.90,1.90
549,E2,22,07/05/2023,12:00,Port Vale,Plymouth,1,3,A,1,...,2.18,0.75,1.95,1.90,1.94,1.91,2.04,1.94,1.96,1.85
550,E2,22,07/05/2023,12:00,Portsmouth,Wycombe,2,2,D,1,...,2.06,-0.25,1.80,2.00,1.90,1.95,1.90,2.06,1.83,1.95
551,E2,22,07/05/2023,12:00,Sheffield Weds,Derby,1,0,H,1,...,1.81,0.00,1.98,1.88,1.97,1.88,2.05,1.90,1.92,1.86

# 3 Organize all the data in a dict

In [31]:
dict_countries = {
    'Spanish La Liga': 'SP1', 'Spanish Segunda Division':'SP2', 'German Bundesliga': 'D1', 'English Premier League':'E0', 'English League 1':'E2'
}

In [32]:
dict_countries['English Premier League']

'E0'

In [34]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2

In [40]:
dict_historical_data = {}

for league in dict_countries:
    frames = []
    for season in range(20, 25):
        df = pd.read_csv( root + str(season) + str(season+1) + '/'+ dict_countries[league] )
        df.insert(1, 'season', season)
        frames.append(df)
    df_con = pd.concat(frames)
    dict_historical_data[league] = df_con

In [41]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1'])